body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header, footer {
    background-color: #3f99ca;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
    margin-top: 50px;
    margin-bottom: 100px;
}

.calculator {
    width: 50%;
    padding: 20px;
    border: 2px solid #21a5c6;
    border-radius: 5px;
    text-align: center;
   margin-left: 150px;
   margin-right: 150px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display:inline-block;
    width: 120px;
    margin-bottom: 5px;
    text-align: right; /* Align label text to the right */
    font-weight: bold; /* Add this line to make the label text bold */
}

input, select {
    width: calc(40% - 8px); /* Adjusting for padding and borders */
    padding: 8px;
    border-radius: 3px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color:  #3f99ca;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 18%; 
}

button:hover {
    background-color: #64abdb;
}

.image-container {
    width: 30%;
}

.image-container img {
    max-width: 70%;
    height: auto;
}

/* Responsive CSS for iPhone screens */
@media screen and (max-width: 480px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .calculator {
        width: 88%;
        margin: 0;
    }

    .image-container {
        width: 50%;
        padding-top: 40px;
        padding-left: 60px;
    }

    input, select {
        width: 80%;
        
    }

    label {
        text-align: left;
        }

    button {
        width: 40%;
    }
    .form-group {
        display: inline-flex;
        
    }

}

